.iconContainer {
  display: flex;

  span {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
  }
}

.leftRightContainer {
  flex-direction: row;
}

.topBottomContainer {
  flex-direction: column;
}