$blue-gradient-45: linear-gradient(57.53deg, #000000 6.22%, #0500FF 59.65%);
$blue-gradient-90: linear-gradient(263.08deg, #0500FF 6.44%, #000000 124.31%);
$blue-60: #0400D5;
$blue-50: #0500FF;
$grayscale-95: #0A0C0F;
$grayscale-80: #1A2026;
$grayscale-60: #2B3233;
$grayscale-50: #3A434D;
$grayscale-40: #737A80;
$grayscale-25: #DADBDE;
$grayscale-20: #E7E8EA;
$grayscale-10: #F5F6F9;
$grayscale-05: #FAFAFA;
$grayscale-00: #FFFFFF;