@import "../../values/colors.scss";

.Button {
  position: relative;
  font-size: 14px;
  border-radius: 44px;
  border: none;
  padding: 0;
  width: fit-content;

  span {
    display: flex;
  }
}

.buttonContainer {
  gap: 15px;
  padding: 13px 18px;
}

.buttonContainer span {
  display: inline-flex;
  align-items: center;
  z-index: 1;
}

.primary .buttonBackgroundHelper {
  position: absolute;
  top: 0;
  border-radius: 44px;
  background: $blue-gradient-45;
  width: 100%;
  height: 100%;
  padding: 0;
}

.primary {
  background: $blue-50;
  color: $grayscale-00;
}

.primary:hover > .buttonBackgroundHelper {
  opacity: 0;
  -webkit-transition: opacity 300ms linear;
  -ms-transition: opacity 300ms linear;
  transition: opacity 300ms linear;  
}

.primary:active {
  background: $blue-60;
}

.secondary {
  background: $grayscale-80;
  color: $grayscale-00;
}

.secondary:hover {
  background: $grayscale-95;
  -webkit-transition: background 300ms linear;
  -ms-transition: background 300ms linear;
  transition: background 300ms linear;
}

.secondary:active {
  background: $grayscale-95;
}

.tertiary {
  background: $grayscale-20;
  color: $grayscale-80;
}

.tertiary:hover {
  background: $grayscale-10;
  -webkit-transition: background 300ms linear;
  -ms-transition: background 300ms linear;
  transition: background 300ms linear;
}

.tertiary:active {
  background: $grayscale-25;
}