@keyframes left-to-right {
  from {
  	margin-left: -20px;
  }

  to {
    margin-left: 0px;
    margin-right: 20px;
  }
}

@keyframes right-to-left {
  from {
  	margin-left: 0px;
    margin-right: 20px;
  }

  to {
  	margin-left: -20px;
    margin-right: 0px;
  }
}

@keyframes top-to-bottom {
  from {
  	margin-top: -20px;
  }

  to {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

@keyframes bottom-to-top {
  from {
  	margin-top: 0px;
    margin-bottom: 20px;
  }

  to {
  	margin-top: -20px;
    margin-bottom: 0px;
  }
}

.icon-container {
	display: flex;
	overflow: hidden;
	width: 20px;
	height: 20px;

	span {
		width: 20px;
	}
}

.right-arrow-container {
	flex-direction: row;
}

.down-arrow-container {
	flex-direction: column;
}

.up-right-arrow-container {
	flex-direction: row;
	transform: rotate(-45deg);
}

.right-arrow-forward-animation {
	animation-name: left-to-right;
	animation-duration: 1s;
  	animation-iteration-count: 1;
}

.right-arrow-backward-animation {
	animation-name: right-to-left;
	animation-duration: 1s;
  	animation-iteration-count: 1;
}

.down-arrow-forward-animation {
	animation-name: top-to-bottom;
	animation-duration: 1s;
  	animation-iteration-count: 1;
}

.down-arrow-backward-animation {
	animation-name: bottom-to-top;
	animation-duration: 1s;
  	animation-iteration-count: 1;
}