@keyframes left-to-right {
  from {
  	margin-left: -20px;
  }

  to {
    margin-left: 0px;
    margin-right: 20px;
  }
}

@keyframes right-to-left {
  from {
  	margin-left: 0px;
    margin-right: 20px;
  }

  to {
  	margin-left: -20px;
    margin-right: 0px;
  }
}

@keyframes top-to-bottom {
  from {
  	margin-top: -20px;
  }

  to {
    margin-top: 0px;
    margin-bottom: 20px;
  }
}

@keyframes bottom-to-top {
  from {
  	margin-top: 0px;
    margin-bottom: 20px;
  }

  to {
  	margin-top: -20px;
    margin-bottom: 0px;
  }
}

.iconContainer {
	display: flex;
	overflow: hidden;
	width: 20px;
	height: 20px;

	span {
		width: 20px;
	}
}

.rightArrowContainer {
	flex-direction: row;
}

.downArrowContainer {
	flex-direction: column;
}

.upRightArrowContainer {
	flex-direction: row;
	transform: rotate(-45deg);
}

.rightArrowForwardAnimation {
	animation-name: left-to-right;
	animation-duration: 300ms;
  animation-iteration-count: 1;
}

.rightArrowBackwardAnimation {
	animation-name: right-to-left;
	animation-duration: 300ms;
  animation-iteration-count: 1;
}

.downArrowForwardAnimation {
	animation-name: top-to-bottom;
	animation-duration: 300ms;
  animation-iteration-count: 1;
}

.downArrowBackwardAnimation {
	animation-name: bottom-to-top;
	animation-duration: 300ms;
  animation-iteration-count: 1;
}