@import "../../../values/colors.scss";

.CarouselButton {
  display: flex;
  padding: 9px 10px;
  gap: 4px;
  align-items: center;
  justify-content: center;
  border-radius: 80px;
  border: none;
  font-weight: 600;
  background-color: $grayscale--3;
  color: $grayscale-80;
}

.CarouselButton:not(.disabled, .touch):hover {
  background-color: $blue-50;
  span {
    color: $grayscale-00;
  }
}

.CarouselButton:not(.disabled):active {
  background-color: $blue-60;
}

.disabled {
  opacity: 50%;
}

.touch {}