.animationContainer {
  overflow: hidden;
  width: 20px;
  height: 20px;
}

.iconContainer {
  display: flex;

  span {
    width: 20px;
  }
}

.leftRightContainer {
  flex-direction: row;
}

.topBottomContainer {
  flex-direction: column;
}